# Logs
logs
*.log

node_modules
.env
.states

# Hardhat files
cache
artifacts
ignition

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Andy files
Andy


# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
